.grid-container__contact {
  display: grid;
  gap: 5px;
  grid-template-areas:
    "nav nav nav nav"
    "contact-form contact-form faq faq"
    "info info map map"
    "footer footer footer footer";
}

/* CONTACT AREA */

.contact {
  grid-area: contact-form;
  height: 500px;
}

.contact__box {
  background-color: #212c4a;
  height: 85px;
  width: 70%;
  display: flex;
}

.contact__header {
  align-self: center;
  font-size: 3rem;
  margin: auto;
  width: 300px;
}

.contactForm__container {
  width: 500px;
  margin-left: 100px;
  margin-top: 40px;
}

input[type="text"] {
  height: 45px;
  font-size: 0.8rem;
  color: #939393;
  margin-top: 10px;
  border: none;
  padding: 0px 10px;
  border-bottom: 1px solid black;
}

#contact-email {
  border-bottom: 1px solid black;
}

label {
  padding: 10px 0px;
}

textarea {
  resize: none;
}

#contact-button {
  transition: all 0.3s;
}

#contact-button:hover {
  background-color: #013fa0;
  color: #f4f4f4;
}

/* FAQ AREA */

.faq {
  grid-area: faq;
  height: 500px;
  width: 600px;
}

.faq__container {
  padding: 0px 30px;
}

.faq__header {
  padding: 10px 0px;
  font-size: 3rem;
}

.faq__topics {
  padding: 3px 0px;
  color: #707070;
}

.faq__text {
  padding-bottom: 20px;
  color: #818181;
}

/* INFO AREA */

.info {
  grid-area: info;
  height: 300px;
}

.info__container {
  width: 500px;
  margin-top: 40px;
  padding-left: 100px;
}

.info__header {
  font-size: 3rem;
  width: 500px;
  text-transform: uppercase;
}

.info__text {
  padding: 15px 0px;
}

.map {
  grid-area: map;
  height: 300px;
  margin-top: 50px;
}

.map__img {
  background-image: url(/img/map.png);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* MOBILE VIEW */

@media (max-width: 767px) {
  .grid-container__contact {
    grid-template-areas:
      "nav"
      "faq"
      "contact-form"
      "info"
      "map"
      "footer";
  }

  .contact__box {
    width: 80%;
    height: auto;
  }

  .faq__text {
    width: 300px;
  }
  .contactForm__container {
    width: 300px;
    margin: auto;
  }

  .faq {
    height: 800px;
    width: 350px;
  }

  .contactForm__container {
    margin-top: 50px;
  }

  label {
    margin-top: 20px;
  }

  .info {
    width: 350px;
  }

  .info__header {
    width: 250px;
    font-size: 1.5rem;
  }

  .info__container {
    width: 300px;
  }
}
