.grid-container__shop {
  display: grid;
  gap: 5px;
  grid-template-areas:
    'nav nav nav nav'
    'men-shop men-shop men-shop men-shop'
    'women-shop women-shop women-shop women-shop'
    'jacket jacket jacket jacket'
    'products products products products'
    'footer footer footer footer';
}

.men-shop {
  grid-area: men-shop;
  height: 300px;
}

.men-shop__img {
  background-image: url(/img/men-shop.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  cursor: pointer;
}

.men-shop__header,
.women-shop__header {
  color: white;
  padding: 0px 20px;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 20px;
}

.men-shop__text,
.women-shop__text {
  color: white;
  padding: 2px 20px;
  font-weight: 300px;
  margin-bottom: 20px;
}

.men-shop__box {
  position: absolute;
  background-color: #212c4a;
  width: 40%;
  height: auto;
  right: 0;
  top: 120px;
}

.women-shop {
  grid-area: women-shop;
  height: 300px;
}

.women-shop__img {
  background-image: url(/img/women-shop.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  cursor: pointer;
}

.women-shop__box {
  position: absolute;
  background-color: #212c4a;
  width: 40%;
  height: auto;
  left: 0;
  top: 120px;
}

/* JACKET SECTION */

.jacket__header {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 1rem;
}

.pricetag {
  color: #013fa0;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.jacket__info {
  width: 260px;
  color: #969696;
}

.jacket__button {
  padding: 15px 50px;
  width: 100%;
  border: none;
  background-color: #f4f4f4;
  color: #013fa0;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.jacket__button:hover {
  background-color: #013fa0;
  color: #f4f4f4;
}

.jacket {
  grid-area: jacket;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 120px;
}

.jacket1__img {
  height: 70%;
  margin: auto;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.jacket__img {
  height: 100%;
  width: 100px;
}

.cards {
  width: 400px;
  height: 380px;
  margin: 2rem;
  border: solid black 1px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* TABLET VIEW */
@media (max-width: 991px) {
  .grid-container__shop {
    grid-template-areas:
      'nav'
      'men-shop'
      'women-shop'
      'jacket'
      'jacket'
      'jacket'
      'jacket'
      'footer';
  }

  .men-shop__header,
  .women-shop__header {
    font-size: 1.1rem;
  }

  .men-shop__text,
  .women-shop__text {
    font-size: 0.8rem;
  }
}
/* MOBILE VIEW */

@media (max-width: 767px) {
  .men-shop__header,
  .women-shop__header {
    font-size: 1rem;
  }

  .men-shop__text,
  .women-shop__text {
    font-size: 0.7rem;
  }
}
