* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
}

li,
a,
button {
  font-weight: 100;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.navLinks {
  list-style: none;
  margin-left: 30px;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  font-weight: bold;
}

button {
  border: none;
  background-color: #fff;
}

.front-image {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
}

.header-text {
  color: #fff;
  position: absolute;
  bottom: 200px;
  right: 250px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: 200;
}

.shop-btn {
  background-color: #212c4a;
  color: #fff;
  padding: 15px 70px;
  margin-top: 20px;
  font-weight: bold;
}
